body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.navbar {
	
}

.navbar ul {
	position: fixed;
	top: 0;
	left: 0;
	list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
	display: inline;
	float: left;
}

.nav-link {
	display: block;
	padding: 8px;
	background: rgb(250, 177, 188);
	color: white;
}

.nav-link:hover {
	background: rgb(243, 151, 165);
	color: white;
}

/* Hero Section */

#hero-section {
	height: 80vh;
	min-height: 400px;
	display: flex;
	flex-direction:row-reverse;
	align-items: center;
	justify-content: space-around;


	background-color: rgb(197, 214, 134);
}

#hero-image {
	height: 200px;
	background: chartreuse;
}

/* Projects */

#projects-section {
	height: 100vh;
	background: salmon;
}

.project-card {
	height: 300px;
	width: 300px;
	background: white;
	/* margin: 25px; */
	
	/* Flexbox */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	/* Off Hover animation to revert to original state */
	box-shadow: 0px 0px 0px rgb(155, 83, 75);
	transform: scale(1);
	transition: all 0.3s ease-in-out;
}

.project-card:hover {
	box-shadow: 10px 10px 10px rgb(155, 83, 75);
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
}

.project-image {
	height: 50%;
	width: 80%;
	background: red;
	
}